<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="styles/stack.css">
        <title>Registration</title>
    </head>
    <body id="register">
    	<div>
    		<img src="images/tron logo.jpg" alt="logo">
    		<form id="signup" target="Homepage.html">
    			<label>
    				First Name<br>
    				<input type="text" name="firstname" placeholder="First Name">
    			</label>
    			<label>
    				Last Name<br>
    				<input type="text" name="lastname" placeholder="Last Name">
    			</label>
    			<label>
    				Email Address<br>
    				<input type="text" name="email" placeholder="E-mail">
    			</label>
    			<label>
    				New Password<br>
    				<input type="text" name="nPass" placeholder="New Password">
    			</label>
    			<label>
    				Confirm Password<br>
    				<input type="text" name="cPass" placeholder="Confirm Password">
    			</label>
    		</form>
    	</div>
    	<div>
    		<p>
    			Contact Us:<br>Tel.+256 776095689 |  email: contactus@itron.org
    		</p>
    	</div>
    	<footer id="contact"> &copy Copyright Mayanja David 2019.</footer>
    </body>
</html>