.header {
	color:#FDFEFE;
	background-color: #00008B;	
}
h1{
	text-align: center;
	color: white;
	font-size: 50px;
	font-family: "Times New Roman", serif;
}
body {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
}
#home{
	background-image: url("../images/flash.jpg");
}
#register{
	background-image: url("../images/join.jpg");
}
#user{
	background-image: url("../images/community.jpg");
}
.info{
	float: left;
	padding: 5%;
}
#company{
	
	width: 50%;
	text-align: center;
}
#join{
	width:50%;
	text-align: center;
}
#container{
	text-align: center;
}
footer{
	text-align: center;
	color: #FDFEFE;
	background-color: #3498DB;
	clear: both;
	position: bottom;
}